.message-error {
  text-align: center;
  background: red;
  color: white;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom: 15px;
}

.message-success {
  text-align: center;
  background: green;
  color: white;
  padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
  margin-bottom: 15px;
}

.navbar-default {
  padding: 0px;
}
