body {
  background-color: white;
  margin-top: -60px !important;
}

.container {
  margin: 10px;
}

.color1 {
  background-color: rgb(40, 6, 117);
  color: white;
}

.color1:hover {
  background-color: rgb(52, 24, 119);
  cursor: pointer;
}

.color2 {
  background-color: rgb(117, 6, 71);
  color: white;
  cursor: pointer;
}

.color2:hover {
  background-color: rgb(110, 53, 86);
}

.color3 {
  background-color: rgb(7, 117, 16);
  color: white;
  cursor: pointer;
}

.color3:hover {
  background-color: rgb(40, 116, 46);
}

.button-div {
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}

.button-div .fa {
  font-size: 30px;
}

.button-div h5 {
  font-size: 30px;
}

.first-row {
  margin-top: 184px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.message-error {
  text-align: center;
  background: red;
  color: white;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom: 15px;
}

.message-success {
  text-align: center;
  background: green;
  color: white;
  padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
  margin-bottom: 15px;
}
